<ion-view>
<!--nav bar es la barra azul de arriba-->
 <ion-nav-title>
      <!--<img src="logo.svg">-->
    </ion-nav-title>
  <ion-nav-bar class="bar-positive"></ion-nav-bar><!--bar-dark oscuro -->

  <ion-content class="background-color"> <!--color del fondo, mirar css -->
    <!--LABEL INTERACTIVA -->
    <div class="card"> 
      <div class="item item-text-wrap">
        <a class= "link" href="http://interactiva.eafit.edu.co/ei/"> 
        Interactiva
      </div>
    </div>

    <!--LABEL ULISES-->
    <div class="card"> 
      <div class="item item-text-wrap">
        <a class= "link" href="https://app.eafit.edu.co/ulises/login.do">
        Ulises
      </div>
    </div>

    <!--LABEL BIBLIOTECA -->
    <div class="card">
      <div class="item item-text-wrap">
        <a class= "link" href="http://bdigital.eafit.edu.co:8080/sinbad/">
        SINBAD (Biblioteca)
      </div>
    </div>

  </ion-content>
</ion-view>
